<div class="header-outer">
  <div class="logo-wrap">
    <img src="/images/svg/clsg-logo.svg">
  </div>
  <nav>
    <ul class="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/simulations">Simulations</a></li>
      
    </ul>
  </nav>
</div>
