<div class="prefooter">
  <div class="outer-container">
    <div class="inner-container">
      <div class="content-left">
        <div class="prefooter-logo-wrap">
          <img src="/images/svg/clsg-logo-white.svg">
        </div>
        <div class="desc-text">
          <p>Tell me and I forget, teach me and I may remember, involve me and I learn</p>
        </div>
      </div>
      <div class="content-right">
        <div class="contact-info">
          <p>Get in Touch</p>
          <a rel="nofollow" href="mailto:clsg@virginia.edu">clsg@virginia.edu</a></h3>
          <a rel="nofollow" href="tel:434-297-8116">434-297-8116</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
