<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <header class="<%= headerClass %>">
      <% include partials/template/header.ejs %>
    </header>

    <p>Contact!</p>
    <form class="contact-form">
    
    </form>
    <% include partials/template/scripts.ejs %>
  </body>
<html>
