<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <div class="page-wrapper">
      <header class="<%= headerClass %>">
        <% include partials/template/header.ejs %>
      </header>
      <div class="content-area">
        <% include partials/content/simulationslist.ejs %>
      </div><!--#primary-->
    <% include partials/template/prefooter.ejs %>
    <% include partials/template/footer.ejs %>
    </div><!--#page-->
    <% include partials/template/scripts.ejs %>
  </body>
<html>
