footer {
  background: darken($navy, 5%);
  text-align: center;
  padding: 2rem 0;
p {
  color: white;
  font-size: 1.2rem;
  
}
}
.prefooter {
  background: $navy;
  .inner-container {
    display: flex;
    flex-wrap: wrap;
  }
  .content-left {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    margin-right: 4vw;
    flex-wrap: wrap;
    .prefooter-logo-wrap {
      flex: 0 0 100%;
    }
    .desc-text {
      flex: 0 0 100%;
      p {
        font-size: 1.2rem;
        color: white;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  .content-right {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 20px;
    p {
      color: $orange;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .1rem;
    }
    a {
      padding-right: 10px;
      color: white;
    }
  }
}
