.simulation-list {
  .simulation-item {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .sim-image-wrap {
    flex: 0 0 100%;
    margin-bottom: 2rem; 
  }
  .sim-inner {
    flex: 0 0 100%;
  }
}
